.SearchBar {
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  width: 300px;
  display: flex;
  justify-content: start;
  gap: 0.5em;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.SearchBar input {
  width: 100%;
  border: none;
  z-index: 1;
}
